{% extends "shredmap_midwest/layout.html" %}

{% block body %}

<div class="account-form">
    <h2>Register</h2>

    {% if message %}
    <p>{{ message }}</p>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control account-input" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control account-input" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input class="form-control account-input" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control account-input" type="password" name="confirmation"
                placeholder="Confirm Password">
        </div>
        <input class="btn btn-primary" type="submit" value="Register">
</div>


{% endblock %}