.center-text {
    text-align: center;
}

.padding-top {
    padding-top: 2%;
}

.account-form {
    margin-left: 2rem;
    margin-top: 2rem;  
}

.account-input {
    width: 40%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

textarea {
    margin-bottom: 0.5rem;
}

.btn-link {
    color: black;
    text-decoration: none;
}

.btn-link:hover {
    color: black;
    text-decoration: none;
}

/* https://stackoverflow.com/questions/26754497/css-disable-hover-effect */
.no-hover {
    pointer-events: none;
}

/* Leaflet map specs */
#map {
    height: 700px;
}

.no-underline {
    text-decoration: none;
}

.padding-please {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
}

.half-width {
    width: 50%;
}

.card {
    width: 25rem;
    margin-right: 2%;
    margin-bottom: 2%;

}

.slight-margin-bottom {
    margin-bottom: 1rem;
}

.progress-bar {
    text-align: left;
    padding-left: 2%;
}

/* https://github.com/twbs/bootstrap/issues/16680 */
.progress-bar .progress-bar-text {
    position: absolute;
    text-shadow: 0px 0px 3px rgb(36, 36, 36);
  }

.desktop-button {
    float: right;
    margin-left: 1%;
}

.mobile-button {
    display: none;
}

h2 {
    margin-bottom: 2%;
}

.resort-list-item {
    float: left;
    width: 60%;
    margin: auto;
}

.resort-list-item:hover {
    background-color: rgb(248, 248, 248);
}

.resort-list-link {
    text-decoration: none;
    color: black;
}

.resort-view-container {
    width: 50%;
}

.mobile-filters {
    display: none;
}

.desktop-filters {
    display: block;
}

/* https://stackoverflow.com/questions/42586044/change-css-only-for-mobile-devices */
@media (max-width: 700px) {

    .half-width {
         width: 100%;
     }

     .desktop-button {
         display: none;
     }

     .mobile-button {
         display: block;
         margin-bottom: 1%
     }

     .mobile-filters {
         display: block;
     }

     .desktop-filters {
         display: none;
     }

     .resort-list-item {
        width: 100%;
    }

}